<%= form_for @den do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :pack_id %><br />
    <%= f.text_field :pack_id %>
  </p>
  <p>
    <%= f.label :den_number %><br />
    <%= f.text_field :den_number %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.label :leader_name %><br />
    <%= f.text_field :leader_name %>
  </p>
  <p>
    <%= f.label :leader_email %><br />
    <%= f.text_field :leader_email %>
  </p>
  <p>
    <%= f.label :assistant_leader_name %><br />
    <%= f.text_field :assistant_leader_name %>
  </p>
  <p>
    <%= f.label :assistant_leader_email %><br />
    <%= f.text_field :assistant_leader_email %>
  </p>
  <p><%= f.submit %></p>
<% end %>
