#heats-edit.box.box-100
  .boxin
    .header
      %h3= "Step 3: Add Scouts to Heat #{@heat.name}"
      
    #dashboard.content
      .inner-content
        %p.bigger Add Scouts to the selected heat. Click the Generate Lane Assignment when all Scouts are added.
        = render 'layouts/event_heat_group'          
        
        %h4= "Scouts to race in #{@heat_group.name}-#{@heat.name} heat"
        #scout-heat-list
          = render 'heats/scout_list', :heat => @heat, :scout => @scout
        %div
          When you are done adding scouts, #{link_to "Create Lane Assignments", heat_lane_assignments_path(@heat)}
          
        .sep &nbsp;
        
        %h4= "Scouts checked-in for #{@event.name}"
        .scout-search.clearfix
          .all
            = link_to "Show All Scouts", scouts_path(:mode => "heats", :heat_id => @heat.id), :remote => true, :class => "button medium"
            = #link_to "Show All Scouts", edit_race_heat_group_heat_url(@heat_group, @heat), :class => "button medium"

          = form_tag scouts_path, :method => :get, :class => "basic", :remote => true do
            = hidden_field_tag 'mode', 'heats'
            = hidden_field_tag 'heat_id', @heat.id
            .label
              = image_tag "search.png"
            .search
              = text_field_tag :scout_search, @scout_search, :class => 'txt'
              = submit_tag 'search', :class => 'button medium'
              .description
                enter any part of the first or last name, den number, or den leader's name
        #scout-list
          = render 'scouts/heats_list', :scouts => @scouts_not_in_heat, :heat_id => @heat.id
