.box.box-100
  .boxin
    .header
      %h3= "Step 2: Add Heats to Heat Group #{@heat_group.name}"
      
    #dashboard.content
      .inner-content
        %h4 Add a heat to the selected heat group. You may wish to divide the heat by Dens or you can just number them.
        = render 'layouts/event_heat_group'          
        
        = form_for [:race, :heat_group, @heat], :html => {:class => "fields"} do |f|
          = render :partial => 'layouts/errors', :locals => {:f => @heat}
          
          .inner-form
            = f.label :name, "New Heat Name"
            = f.text_field :name
            = f.submit "Add Heat",:class => "button"

            .description Den 4, Den 8, or just numbers
            .sep &nbsp;
        
        %h3 Select a heat to add scouts to or race
        %table.heat_groups
          %thead
            %tr
              %th
              %th
              %th
          %tbody
            - @heats.each do |heat|
              %tr
                %td= heat.name
                %td= "#{heat.scout_count} scouts"
                %td
                  = link_to "Add Scouts & Race", edit_race_heat_group_heat_path(@heat_group, heat), :class => "button"
                  - if heat.scout_count > 0
                    * can't delete heats with scouts
                  -else
                    = link_to 'Destroy', race_heat_group_heat_path(@heat_group, heat), :confirm => 'Are you sure?', :method => :delete, :class => "button red"
                  
