.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to(track_manager_path, class: "btn") do
          Track Management

        = link_to(new_track_path, class: "btn btn-success") do
          %i.icon-plus
          add new track

      %h2 All Tracks

.text-xlarge
  %table.table
    %thead
      %tr
        %th Name
        %th Pack
        %th Total lanes
        %th Active lanes
        %th Actions

    %tbody
      - @tracks.each do |track|
        %tr
          %td= link_to track.name, edit_track_path(track)
          %td= track.pack.name
          %td= track.total_lanes
          %td= track.active_lanes
          %td
            = link_to 'edit', edit_track_path(track), class: 'btn'
            = link_to 'Destroy', track, confirm: 'Are you sure?', method: :delete, class: 'btn btn-danger'
