.centered
  %p.xlarge There are no races generated for this heat. <br/>Generate some!
  = form_tag heat_races_path(@heat.id), class: 'form-inline' do
    = hidden_field_tag 'heat_id', @heat.id
    = hidden_field_tag 'generate_method', "rotation"
    = label_tag 'races_to_generate', 'Races to Generate'
    = text_field_tag :races_to_generate, "4", class: 'span2'
    %br
    = render 'lanes'
    %br
    %p= submit_tag 'Generate Race Schedule', class: 'btn btn-primary'
