- nav_buttons render(:partial => 'index_nav_buttons')

#heats-edit.box.box-100
  .boxin
    .header
      %h3= "Step 4: Create races for #{@heat_group.name}-#{@heat.name} heat"
      
    #dashboard.content
      .inner-content
        %p.bigger Specify the number of races you want to run for this heat. The lane assignment and rotation will automatically be calculated.
        %p.bigger IMPORTANT: you can not modify or delete any races that have been partially run. Create a new heat, add scouts to that heat, then generate a new race schedule.
        = render 'layouts/event_heat_group'          
        
        #race-container
          #scout-list-small
            %h4= "Scouts to race in #{@heat_group.name}-#{@heat.name} heat"
            %table.scouts-race
              %tbody
                %tr
                - @heat.scouts.each do |scout|
                  %tr
                    %td= scout.full_name
            %p= link_to "Add or edit scouts in #{@heat.name} heat", edit_race_heat_group_heat_path(@heat_group, @heat)
          #race-generate
            .sep &nbsp;
            .sep &nbsp;
            %p.bigger There are no races generated for this heat. <br/>Generate some!
            = form_tag heat_races_path(@heat.id), :class => "basic" do
              = hidden_field_tag 'heat_id', @heat.id
              = hidden_field_tag 'generate_method', "rotation"
              = label_tag 'races_to_generate', 'Number of Races to Generate'
              = text_field_tag :races_to_generate, "4", :class => 'txt', :size => 3
              %br
              = render 'lanes'
              %br
              = submit_tag 'Generate Race Schedule', :class => 'button medium'
            
          #race-list
            %h4= "Races generated for the #{@heat.name} heat"
            = render 'heat_race_list', :heat => @heat

          .sep &nbsp;
        