- nav_buttons render(:partial => 'index_nav_buttons')

#heats-edit.box.box-100
  .boxin
    .header
      %h3= "Step 4: Create races for #{@heat_group.name}-#{@heat.name} heat"
      
    #dashboard.content
      .inner-content
        %p.bigger Specify the number of races you want to run for this heat. The lane assignment and rotation will automatically be calculated.
        %p.bigger IMPORTANT: you can not modify or delete any races that have been partially run. Create a new heat, add scouts to that heat, then generate a new race schedule.
        = render 'layouts/event_heat_group'          
        
        #race-container          
          - if @heat.races.size > 0
            %p.bigger All the races have been generated for this heat.
            
            -if @heat.has_completed_races? || @heat.has_current_race?
              %p.bigger.red One or more of the races has already completed, or one races is now the current races (probably in staging right now), you may not delete or change any race.
            -else
              %p.bigger Because none of these races is the current race, and none have been run, you may delete all the races so they can be re-generated.
              %p= link_to "Delete all races", destroy_races_heat_races_path(@heat), :method => :delete, :class => "button red"
              
          -else  
            #scout-list-small
              %h4= "Scouts to race in #{@heat_group.name}-#{@heat.name} heat"
              %table.scouts-race
                %tbody
                  %tr
                  - @heat.scouts.each do |scout|
                    %tr
                      %td= scout.full_name
              %p= link_to "Add or edit scouts in #{@heat.name} heat", edit_race_heat_group_heat_path(@heat_group, @heat)
          
            = render 'race_generate'
          
          #race-list
            %h4= "Races generated for the #{@heat.name} heat"
            = render 'heat_race_list', :heat => @heat

          .sep &nbsp;
        