= form_for @event, :html => {:class => "fields"} do |f|
  .inner-form
  = #f.error_messages

  = f.label :name
  = f.text_field :name, :size => 50

  = f.label :start_time
  = f.datetime_select :start_time

  = f.label :end_time
  = f.datetime_select :end_time

  = f.label :location_name
  = f.text_field :location_name, :size => 50

  = f.label :location_address1, "Address 1"
  = f.text_field :location_address1

  = f.label :location_address2, "Address 2"
  = f.text_field :location_address2

  = f.label :location_city, "City"
  = f.text_field :location_city

  = f.label :location_state, "State"
  = f.text_field :location_state

  = f.label :location_zipcode, "ZipCode"
  = f.text_field :location_zipcode

  = f.label :derby_chair
  = f.text_field :derby_chair

  = f.label :race_manager
  = f.text_field :race_manager

  = f.label :notes, "Race Notes"
  = f.text_area :notes, :rows => "5"

  = f.label :track, "Track Notes"
  = f.text_area :track, :rows => "5"

  = f.label :active, "&nbsp;".html_safe
  = f.check_box :active
  Active?
  
  .sep
    = f.submit :class => "button"