- nav_buttons render(:partial => 'index_nav_buttons')
#scout-check-in.box.box-100.blue
  .boxin
    .header
      %h3 All Events (Races)
  	  
    .content
      %table
        %thead
          %tr
            %th Name
            %td Start/End
            %td Derby Chair
            %td Race Manager
            %td Action
        %tbody
          - for event in @events        
            %tr
              %td= link_to event.name, edit_event_path(event)
              %td #{event.start_time.to_formatted_s(:short)} - #{event.end_time.to_formatted_s(:short)}
              %td= event.derby_chair
              %td= event.race_manager

              %td
                %ul.actions
                  %li
                    = link_to edit_event_path(event), :class => "ico" do
                      = image_tag 'edit.png', :alt => 'edit'
                  %li
                    = link_to event, :confirm => 'Are you sure?', :method => :delete, :class => "ico" do
                      = image_tag 'delete.png', :alt => 'delete'
                  %li
                    - if event.active
                      &laquo; Active Event
                    - else
                      = link_to "Set Active", set_active_event_path(event), :class => "button", :confirm => "Changing the current Event affects all users. Are you sure?"