.page-header
  %h2 Track Management


.row-fluid
  .span5.offset1
    .well
      %h3 Prepare a Race
      = link_to "Create Heats and Races", race_heat_groups_path, class: "btn btn-xlarge btn-block btn-primary"
      / .help-block.centered gentlemen, start your engines

    .well
      %h3 Testing
      = link_to "Track Test", track_test_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered perform gate and timer tests

    .well
      %h3 Management
      = link_to "Packs", packs_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered packs have Dens and Tracks
      %br
      = link_to "Dens", dens_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered dens have Scouts
      %br
      = link_to "Tracks", tracks_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered tracks belong to a pack, each event has a track
      %br
      = link_to "Scouts", scouts_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered scouts belong to a den
      %br
      = link_to "Events", events_path, class: "btn btn-xlarge btn-block btn-primary"
      .help-block.centered set events and the current race



  .span5.offset1
    %h2 Race Day Checklist
    %h3 Current Event
    %p= @event.name
    = current_event_set_icon

    %h3 Racing on Track
    %p= @event.track.name_lanes
    = track_set_icon

    %h3 Heats Ready to Race
    - @ready_to_race.each do |heat|
      %ul
        %li
          %h3= link_to "Race #{heat.heat_group.name}-#{heat.name}!", race_heat_path(heat)
