= form_for @scout, :html => {:class => "fields"} do |f|
  .inner-form
  = #f.error_messages

  = f.label :den
  = f.collection_select :den_id, Den.includes(:pack).sort_den.all, :id, :den_leader_pack

  = f.label :first_name
  = f.text_field :first_name

  = f.label :last_name
  = f.text_field :last_name

  = f.label :address1
  = f.text_field :address2

  = f.label :address2
  = f.text_field :address2

  = f.label :city
  = f.text_field :city

  = f.label :state
  = f.text_field :state

  = f.label :zipcode
  = f.text_field :zipcode

  = f.label :parent_email1
  = f.text_field :parent_email1

  = f.label :parent_email2
  = f.text_field :parent_email2
  
  - if @scout.checked_in
    %h3.green #{@scout.first_name} is Checked In!
    %br for #{Event.current_event.try(:name)}
  -else
    
  .sep
    = f.submit :class => "button"