#scout-count
  = "#{scouts.size} scouts"
= form_tag heat_add_scout_path(heat_id, 0) do |f|
  %table.hoverable
    %thead
      %tr
        %th
        %th Scout
        %th Den
        %th Rank
        %th Den Leader
        %th Action
    %tbody
      %tr
        %td{:colspan => 6}= submit_tag "Add Checked to Heat", :class => "button small"
      - scouts.each do |scout|
        %tr
          %td= check_box_tag "scout_ids[]", scout.id
          %td= scout.full_name
          %td= "Den #{scout.den.try(:den_number)}"
          %td= scout.den.try(:rank)
          %td= scout.den.try(:leader_name)
          %td= link_to "Add to Heat", heat_add_scout_path(heat_id, scout), :class => "button green"
      %tr
        %td{:colspan => 6}= submit_tag "Add Checked to Heat", :class => "button small"