- nav_buttons render(:partial => 'index_nav_buttons')

#scout-index.box.box-100.blue
  .boxin
    .header
      %h3 All Scouts
  	  
    .content.clearfix
      %table
        %thead
          %tr
            %th Name
            %td Address
            %td Parent Email
            %td Action
        %tfoot
          %tr
            %td{:colspan => "4"}
              .description edit scout to see additional information
        %tbody
          - for scout in @scouts
            %tr{:class => "#{cycle 'even', 'odd'}"}
              %td= link_to scout.full_name, edit_scout_path(scout)
              %td= scout_full_address(scout).html_safe
              %td
                #{scout.parent_email1}
                <br /> 
                #{scout.parent_email2}
              %td
                %ul.actions
                  %li
                    = link_to edit_scout_path(scout), :class => "ico" do
                      = image_tag 'edit.png', :alt => 'edit'
                  %li
                    = link_to scout, :confirm => 'Are you sure? Deleting this scout will also delete all their race results.', :method => :delete, :class => "ico" do
                      = image_tag 'delete.png', :alt => 'delete'