.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to 'Track Management', track_manager_path, class: "btn"

        = link_to new_scout_path, class: "btn btn-success" do
          %i.icon-plus
          add new scout

      %h2 All Scouts


.row-fluid
  .span12
    %table.table
      %thead
        %tr
          %th Name
          %th Address
          %th Parent Email
          %th Action
      %tbody
        - for scout in @scouts
          %tr
            %td
              %span.xlarge= link_to scout.full_name, edit_scout_path(scout)
            %td= scout_full_address(scout).html_safe
            %td
              #{scout.parent_email1}
              <br />
              #{scout.parent_email2}
            %td
              = link_to 'edit', edit_scout_path(scout), class: 'btn'
              = link_to 'delete', scout, confirm: 'Are you sure? Deleting this scout will also delete all their race results.', method: :delete, class: 'btn btn-danger'
