- title "Scout"

%p
  %strong Den:
  = @scout.den_id
%p
  %strong First Name:
  = @scout.first_name
%p
  %strong Last Name:
  = @scout.last_name
%p
  %strong Address1:
  = @scout.address1
%p
  %strong Address2:
  = @scout.address2
%p
  %strong City:
  = @scout.city
%p
  %strong State:
  = @scout.state
%p
  %strong Zipcode:
  = @scout.zipcode
%p
  %strong Parent Email1:
  = @scout.parent_email1
%p
  %strong Parent Email2:
  = @scout.parent_email2

%p
  = link_to "Edit Information", edit_scout_path(@scout, :mode => "check_in")
  - if check_in?
    = link_to "Check In #{@scout.first_name}", check_in_scout_path(@scout)
