- nav_buttons render(:partial => 'index_nav_buttons')

#scout-check-in.box.box-100.blue
  .boxin
    .header
      %h3 Check In Scouts to Race
  	  
    .content
      .scout-search.clearfix
        .all
          = button_to "Show All Scouts", {:action => "index"}, :class => "button medium"

        =form_tag scouts_path, :method => :get, :class => "basic", :remote => true do
          = hidden_field_tag 'mode', 'check_in'
          .label
            = image_tag "search.png"
          .search
            = text_field_tag :scout_search, @scout_search, :class => 'txt'
            = submit_tag 'search', :class => 'button medium'
            .description
              enter any part of the first or last name, den number, or den leader's name
          

      #scout-list
        = render 'scouts/index_list'
