<% title "Packs" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Cubmaster Name</th>
    <th>Pinewood Derby Chair</th>
    <th>Website Url</th>
    <th>Email</th>
  </tr>
  <% for pack in @packs %>
    <tr>
      <td><%= pack.name %></td>
      <td><%= pack.address1 %></td>
      <td><%= pack.address2 %></td>
      <td><%= pack.city %></td>
      <td><%= pack.state %></td>
      <td><%= pack.zipcode %></td>
      <td><%= pack.cubmaster_name %></td>
      <td><%= pack.pinewood_derby_chair %></td>
      <td><%= pack.website_url %></td>
      <td><%= pack.email %></td>
      <td><%= link_to "Show", pack %></td>
      <td><%= link_to "Edit", edit_pack_path(pack) %></td>
      <td><%= link_to "Destroy", pack, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Pack", new_pack_path %></p>
