#heat-groups-index.box.box-100
  .boxin
    .header
      %h3 Step 1: Select or Create Heat Group
      
    #dashboard.content
      .inner-content
        %p.bigger Heat Groups combine the results of multiple heats so that the winners will be determined by the group. In general, use 'Tigers', 'Wolves', 'Bears', 'Webelo 1', 'Webelo 2'.

        = render 'layouts/event_heat_group'          
        
        = form_for race_heat_groups_path, :html => {:class => "fields"} do |f|
          .inner-form
            = f.label :name, "New Heat Group Name"
            = f.text_field :name
            = f.submit "Add Heat Group",:class => "button"

            .description Tigers, Wolves, Bears, Webelos 1, Webelos 2
        
        %h4= "Heat groups in #{@event.name}"
        %table.heat-groups
          %thead
            %tr
              %th Name
              %th Scouts
              %th Actions
          %tbody
            - for heat_group in @heat_groups
              %tr
                %td= heat_group.name
                %td= "#{heat_group.heats.count} heats"
                %td
                  = link_to "Add Heats to #{heat_group.name}", race_heat_group_heats_path(heat_group.id), :class => "button"
                  - if heat_group.heats.count > 0
                    %span.smaller * can't delete heat groups that have heats
                  - else
                    = link_to 'Destroy', race_heat_group_path(heat_group), :confirm => 'Are you sure?', :method => :delete, :class => "button red"
                  
