- nav_buttons render(:partial => 'index_nav_buttons')
- javascript "track_test"

#track-manager.box.box-50
  .boxin
    .header
      %h3 Track Testing
      
    #dashboard.content.clearfix
      %ul
        %li
          = link_to "Test Race", "#", :class => "button big", :id => "test-race-submit"
          .description drops the gate and returns elapsed times
          
          = form_tag "/track_test/test_race", :id => "testrace" do
            #slider
            Maximum Race Duration:
            %span#slider-display{:type => "text"}
            = hidden_field_tag "slider-amount", @race_duration
            
        %li
          = link_to "Lane Test", track_test_test_lanes_path, :class => "button big"
        %li
          = link_to "Gate Down", track_test_gate_down_path, :class => "button big"
          .description send a gate down command
        %li
          = link_to "Gate Up", track_test_gate_up_path, :class => "button big"
          .description send a gate up command
          
- if @race_results
  #test-race.box.box-50
    .boxin
      .header
        %h3 Test Race
      .content
        .inner-content
          = render "test_race"
          
- if @lane_status
  #test-lanes.box.box-50
    .boxin
      .header
        %h3 Lane Status
      .content
        .inner-content
          #lane-status
            = render "test_lanes"
          = link_to "Stop Lane Test", "#", :class => "button running", :id => "lane-test-control"
          
#track-test.box.box-50
  .boxin
    .header
      %h3 Track Controller Status
    .content
      .inner-content
        - if @daq_status[:result]
          -if @daq_status[:result]["status"] == "active"
            %h4.green Communication with controller is GOOD
        -else
          %h4.red Communication with controller is DOWN!
          
        = form_for @setting, :html => {:class => "fields"} do |f|
          .inner-form

          = f.label :daq_controller_host
          = f.text_field :daq_controller_host

          = f.label :daq_controller_port
          = f.text_field :daq_controller_port

          = f.label :api_key
          = f.text_field :api_key
        
          = f.hidden_field :return_to, :value => "track_test#index"
          .sep
            = f.submit :class => "button"
        .grey-box
          Response (raw): #{@daq_status[:response]} <br />
          Result (raw): #{@daq_status[:result]} <br />
          Errors (raw): #{@daq_status[:error]} <br />
          Response time: #{@daq_status[:elapsed]}
            