.row-fluid
  .span12
    .page-header
      .pull-right
        = link_to(track_manager_path, class: "btn") do
          Track Management

      %h2 Track Setup and Testing

.row-fluid
  .well.span6
    %h3 Test Race
    = form_tag "/track_test/test_race", method: :get, id: "testrace", remote: true do
      %h4
        Maximum Race Duration:
        %span#slider-display{type: "text"}
      #slider
      = hidden_field_tag "slider-amount", @race_duration

    %br
    .row-fluid
      .span6
        = link_to "Run Test Race", "#", class: "btn btn-primary btn-xlarge btn-block", id: "test-race-submit"
        / .help-block.centered drops the gate and returns elapsed times
        %br

      .span6
        = link_to "Lane Test", track_test_test_lanes_path, class: "btn btn-primary btn-xlarge btn-block"
        .help-block.centered continuously shows lane open/closed
        %br

    %h3 Starting Gate
    .alert.alert-warning
      %strong IMPORTANT
      Do not leave gate down for long periods of time, it may damage the solenoid
    .row-fluid
      .span6
        = link_to "Gate Down", track_test_gate_down_path, class: "btn btn-primary btn-xlarge btn-block"
        .help-block.centered manually lower gate
        / %br
      .span6
        = link_to "Gate Up", track_test_gate_up_path, class: "btn btn-primary btn-xlarge btn-block"
        .help-block.centered manually raise (release) gate


  .span6

    #test-race.well{style: "display: none;"}
      %h3 Test Race
      #loader.centered{style: "display: none;"}
        = image_tag "loader_gear_blue.gif"
        %h3 Racing...
      #race-results
        = render("test_race") if @race_results

    - if @lane_status
      #test-lanes.well
        .pull-right= link_to "Stop Lane Test", "#", class: "btn btn-primary running btn-large", id: "lane-test-control"
        %h3 Lane Status
        #lane-status
          = render "test_lanes"


    .well
      %h3 Track Controller Status
      - if @daq_status[:result]
        -if @daq_status[:result]["status"] == "active"
          .alert.alert-success
            %h4 Communication with controller is GOOD
      -else
        .alert.alert-danger
          %h4 Communication with controller is DOWN!

      = form_for @setting do |f|

        = f.label :daq_controller_host
        = f.text_field :daq_controller_host
        .help-inline 192.168.0.5, localhost, no http://

        = f.label :daq_controller_port
        = f.text_field :daq_controller_port
        .help-inline number or blank for none

        = f.label :api_key
        = f.text_field :api_key
        .help-inline see Karl Smith for help

        = f.hidden_field :return_to, value: "track_test#index"
        .sep
          = f.submit class: "btn btn-primary"

      #controller-debug.well.well-darker.well-thin
        Response (raw): #{@daq_status[:response]}
        %br
        Result (raw): #{@daq_status[:result]}
        %br
        Errors (raw): #{@daq_status[:error]}
        %br
        Response time: #{@daq_status[:elapsed]}

