!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    = render :partial => 'layouts/head'
  %body.bp
    #header
      .inner-container
        = render :partial => 'layouts/header'
        
    #nav
      .inner-container
        %ul
          %li
            = link_to(check_in_path, :class => "big-button") do
              %span.scouts-icon Find Scouts
        
    #container.clearfix
      .inner-container
        #content
          = render :partial => 'layouts/flash', :locals => {:flash => flash}
      
          = yield
        
    #footer.clearfix
      .inner-container
        .box
          <strong>Quick Links</strong>
          %ul
            %li
              %a{:href => "/"} Dashboard
            %li
              %a{:href => "/"} Scouts
        .copyright
          &copy; 2010, Karl Smith
          %br
          %small All rights reserved.