!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = javascript_include_tag "jquery-1.4.2.min"
    = csrf_meta_tag
    = yield(:head)
  %body.bp
    #header
      .inner-container
        = render :partial => 'layouts/header'
        
    #nav
      .inner-container
        %ul
          %li
            = link_to(check_in_path, :class => "big-button") do
              %span.scouts-icon Find Scouts
        
    #container.clearfix
      .inner-container
        #content
          - flash.each do |name, msg|
            = content_tag :div, :class => "flash #{name}" do
              %p #{msg}
      
          = yield
        
    #footer.clearfix
      .inner-container
        .box
          <strong>Quick Links</strong>
          %ul
            %li
              %a{:href => "/"} Dashboard
            %li
              %a{:href => "/"} Scouts
        .copyright
          &copy; 2010, Karl Smith
          %br
          %small All rights reserved.